<div class="container mt-5 mb-2 ">
    <div class="row">
      <div class="col-4" *ngFor="let cliente of clientes">
        <div class="card card-body h-100">
            <img class="card-img-top" [src]="cliente.img">
            <div class="card-body">
                <h6 class="card-title text-center">{{cliente.cpf}}</h6>
                <p class="text-center">N° de fotos: {{cliente.quantidade}}</p>
            </div>
          <button class="btn btn-danger" (click)="delCli(cliente.id)">Deletar cliente</button>
        </div>
      </div>
    </div>
  </div>