<div class="container-fluid">
    <div class="row content">
    
  
      <div class="text-center"><br>
        <h4><small>Posts Recentes</small></h4>
        <hr>
        <h3>Viva a vida!</h3>
        <h6><span class="glyphicon glyphicon-time"></span> Post por Laura W., 08/12/2022.</h6>
        <h6><span class="label label-danger">Turismo sustentável</span></h6><br>
        <p class="text-center">O turismo sustentável é aquele que leva em consideração impactos sociais, ambientais e econômicos, bem como os grupos de interesse envolvidos na atividade. No turismo massificado, observa ela, a dinâmica dos destinos, como horários do comércio e oferta da culinária, segue as demandas do turista e não as necessidades da comunidade local. No turismo sustentável, as escolhas são outras. Há preocupação, por exemplo, com consumo de produtos típicos, vindos de fornecedores locais. A hospedagem preza por espaços que fazem a gestão adequada de seus resíduos e empregam pessoas daquela região, de modo a respeitar as demandas da comunidade — tanto ambientais como sociais.</p>
        <br><br>
        
        <hr>
        <h3>Dicas de viagem</h3>
        <h6><span class="glyphicon glyphicon-time"></span> Post por Antonio L., 06/12/2022.</h6>
        <h6><span class="label label-success">Dica de hoje: Praga</span></h6><br>
        <p>As ruas de Praga são os principais atrativos da viagem, já que elas são uma verdadeira máquina do tempo. Diante da sua arquitetura única, histórica e com uma riqueza de detalhes que nos transportam para os cenários das tramas de Franz Kafka, escritor famoso do país e que ganhou notoriedade no mundo ao longo do século XX. 

            Portanto, prepare o seu celular ou a sua câmera fotográfica, porque qualquer clique em Praga vira uma obra de arte urbana e típica dos romances modernistas!
            
            Para aqueles que pretendem ficar alguns dias em Praga, recomendamos o “Prague Card”. O cartão permite utilizar todos os meios de transporte público de forma ilimitada e ainda tem passe livre para diversos pontos turísticos. Sem falar do brinde: um mapa da cidade com todas as informações para não se perder nas lindas ruas de lá!</p>
        <hr>

    
      </div>
    </div>
  </div>
  